<section id="about" class="section">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>About</h2>
        <p>SDM @ NIPS 2024</p>
      </div>


      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          
          <h3>Motivation</h3>
          <p>
            Artificial Intelligence (AI) and Machine Learning (ML) have shown remarkable success in the medical imaging field, such as medical image analysis and diagnostic decision support systems. Yet, AI/ML solutions in real-world medical imaging scenarios remain challenging due to the demand for considerable amounts of curated data, while the availability of diverse, unbiased, and representative training data is limited. An emerging approach to address this challenge involves the utilization of synthetic data machines (SDMs), contributing to the enhancement and validation of AI algorithms by supplementing existing datasets. 
            Our workshop focuses on the opportunities and challenges of applying SDM in medical imaging, with a special focus on aspects of adopting emerging paradigms and methods in the  medical imaging community. The challenges of applying models that excel in natural images to medical images have been widely acknowledged in the context of foundational models, multi-modal models, and others. These challenges are mainly attributed to a significant domain gap between natural and medical images, ultrasound images in particular, and the scarcity of labeled data.
	    SDM 2024 will be a full-day in-person workshop with several keynote speeches, and oral/poster/spotlight presentations, followed by a breakout discussion, panel discussion, and best paper award announcement. 
          </p>

        </div>
            <p>The SDM Workshop will be co-located with <b><a class="green-text" href="https://neurips.cc/Conferences/2024">NeurIPS 2024</a></b>!</p>

            If you have any questions, feel free to <a href="mailto: nati.daniel@gehealthcare.com">contact us</a>.
          <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div> 
    </div>
  </section><!-- End About Section -->
