<section id="cfp" class="section">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Calls</h2>
      <p>Call for papers</p>
    </div>
    <div class="content">
      <p>
        We welcome submissions of short and full papers, and as well as work-in-progress research studies. 
       </p>

       <p>In general, we encourage three types of submissions:</p>
       <ul class="is-bordered">
        <li><strong>Technical short paper:</strong> Submissions presenting critical and thought-provoking topics within the scientific community.</li>
        <li><strong>Technical full paper:</strong> Submissions presenting validation studies demonstrating clinical relevance on methodological developments and novel applications of artificial intelligence algorithms in Medicine.</li>
        <li><strong>Research paper:</strong> Contributions in this category should focus on novel methodological ideas or theoretical questions without extensive experiments and validation.</li>
       </ul>

       <b>Potential topics include:</b>
       <ul>
        <li>General Deep Learning (deep supervised learning, semi- and self-supervised learning, learning with noisy labels and limited data, etc.)</li>
        <li>Machine Generative Learning (architectures, generative models, deep reinforcement learning, etc.)</li>
        <li>Trustworthy Artificial Intelligence (Interpretability and explainable, fair, robust, private, and transparent deep learning)</li>
        <li>General Medical Artificial Intelligence (Foundation models, Multimodal Data, Medical Large Language models, Integration of imaging and clinical data, etc.)</li>
       </ul>


      <h5>Important Dates</h5>
      <p>
      <ul>
          <li><strong>Submission deadline:</strong> August 30, 2024</li>
          <li><strong>Notification of acceptance:</strong> September 30, 2024</li>
          <li><strong>Camera-ready papers due:</strong> October 10, 2024 </li>
          <li><strong>Workshop date:</strong> December 14 or December 15, 2024 </li>
          <li>All deadlines are <a href="https://time.is/Anywhere_on_Earth"><b>AoE</b></a> time.</li>
      </ul>
        </p>

      <h5>Submission Guidelines</h5>
      <p>The SDM 2024 workshop will use <a href="https://openreview.net/group?id=ICML.cc/2024/Conference">OpenReview</a> as the review platform.</p>

      <p>Accepted papers will be presented as posters, and a subset of them will be selected for oral presentation. We plan to organize the SDM workshop at ICML 2024 in a hybrid format. For virtual workshop attendees, we plan to use Teams for the talks/panel and gather for posters/socializing. To support the hybrid format, we will hold parallel meet-and-greet sessions online and in-person.</p>

      <p>The paper template and style files can be found at <a href="https://ICML.cc/Conferences/2024/CallForPapers">here</a> (ICML template). The length of paper can be 2 pages maximun for the research paper, 4 pages maximum for the short paper, and 8 pages maximun for the full paper (excluding references and appendix). Submissions must follow the template and style and should be properly anonymized. </p>


      <h5>Dual Submission Policy</h5>
      <p>
        We welcome papers that have never been submitted. Accepted papers will be published on the workshop homepage.
      </p>
    </div>
  </div>
  </section>
